<div>DIVDIVDI
</div>
<font color="gold">Owner of this site: {{ owner }}<br>
HELLLLOOOOOOO!!!!
<img src="3185d3e6f4075be2add9a3910016f5e3.jpg" width=200 heigth=120>
<img src="bird-colorful-gradient-design-vector_343694-2506.avif" width=200 heigth=120 alt="NONE">
<img src="images.jpeg" width=200 heigth=120>
<img src="PNG_transparency_demonstration_1.png" width=200 heigth=120>
Server Hostname: {{ ansible_hostname }}<br>
Server OS is: {{ ansible_os_family }} <br>
Servers ip adress: {{ ansible_default_ipv4.address }}
END OF FILE

